/*** Spinner Start ***/
body{
background-color: #000000;
}

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s ease-out, visibility 0s linear .5s;
    z-index: 99999;
 }

 #spinner.show {
     transition: opacity .8s ease-out, visibility 0s linear .0s;
     visibility: visible;
     opacity: 1;
 }

/*** Spinner End ***/

.carousel-item img
{
    width: 100%;
    height: 600px;
    object-fit: cover;
}



/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
/* body{
    background: #eff1f2
    height: 100vh;
  } */
      .container1 {
        margin-top: 80px;
        display: flex;
        /* border: 2px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 15%;
        width: 70%;
        height: 500px;
        text-align: center;
      }
  
      /* Cursor */
      .txt-type > .txt {
        border-right: 0.3rem solid #ee60fb;
      }
  
    @media(min-width: 1200px) {
        .text-careers {
          font-size: 5rem;
          margin-top: 10%;
        }
      }
  
      @media(max-width: 800px) {
        .container1 {
          padding: 0 1rem;
          margin-left: 0;
          width: 100%;
          height: 200px;
        }
  
       .text-careers {
          font-size: 4rem;
        }
      }
  
      @media(max-width: 500px) {
        .text-careers {
          font-size: 2.5rem;
        }
  
        h2 {
          font-size: 1.5rem;
        }
      }





/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-md-square {
    width: 46px;
    height: 46px;
}

.btn-lg-square {
    width: 58px;
    height: 58px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.back-to-top {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

/*** Button End ***/


/*** Topbar Start ***/

.topbar .top-info {
    letter-spacing: 1px;
}

.topbar .top-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbar .top-link a {
    margin-right: 10px;
}

#note {
    width: 500px;
    overflow: hidden;
}

#note small {
    position: relative;
    display: inline-block;
    animation: mymove 5s infinite;
    animation-timing-function: all;
}

@keyframes mymove {
    from {left: -100%;}
    to {left: 100%;}
}

/*** Topbar End ***/


/*** Navbar Start ***/
.navbar .navbar-nav {
    padding: 15px 0;
}

.navbar .navbar-nav .nav-link {
    padding: 10px;
    color: var(--bs-white);
    font-size: 18px;
    outline: none;
    
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--bs-secondary) !important;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "font awesome 5 free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
    }
}

.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    transition: .5s;
    opacity: 1;
}

/*** Navbar End ***/


/*** Carousel Start ***/

.carousel-item {
    position: relative;
}

.carousel-item::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
}

.carousel-caption {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.carousel-item p {
    max-width: 700px;
    margin: 0 auto 35px auto;
}

.carousel-control-prev {
    width: 90px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 0;
    background: var(--bs-primary);
    border-radius: 0 50px 50px 0;
    opacity: 1;
}

.carousel-control-prev:hover {
    background: var(--bs-secondary);
    transition: .8s;
}

.carousel-control-next {
    width: 90px;
    height: 60px;
    position: absolute;
    top: 50%;
    right: 0;
    background: var(--bs-primary);
    border-radius: 50px 0 0 50px;
    opacity: 1;
}

.carousel-control-next:hover {
    background: var(--bs-secondary);
    transition: .8s;
}

.carousel-caption .carousel-content a button.carousel-content-btn1 {
    background: var(--bs-secondary);
    color: var(--bs-dark);
    opacity: 1;
    border: 0;
    border-radius: 20px;
}

.carousel-caption .carousel-content a button.carousel-content-btn1:hover {
    background: var(--bs-primary);
    color: #ffffff;
    border: 0;
    opacity: 1;
    transition: 1s;
    border-radius: 20px;
}

.carousel-caption .carousel-content a button.carousel-content-btn2 {
    background: var(--bs-primary);
    color: var(--bs-white);
    opacity: 1;
    border: 0;
    border-radius: 20px;
}

.carousel-caption .carousel-content a button.carousel-content-btn2:hover {
    background: var(--bs-secondary);
    color: var(--bs-dark);
    border: 0;
    opacity: 1;
    transition: 1s;
    border-radius: 20px;
}

#carouselId .carousel-indicators li {
    width: 30px;
    height: 10px;
    background: var(--bs-primary);
    margin: 10px;
    border-radius: 30px;
    opacity: 1;
}

#carouselId .carousel-indicators li:hover {
    background: var(--bs-secondary);
    opacity: 1;
}

@media (max-width: 992px) {
    .carousel-item {
        min-height: 500px;
    }
    
    .carousel-item img {
        min-height: 500px;
        object-fit: cover;
    }

    .carousel-item h1 {
        font-size: 40px !important;
    }

    .carousel-item p {
        font-size: 16px !important;
    }
}

@media (max-width: 768px) {
    .carousel-item {
        min-height: 400px;
    }
    
    .carousel-item img {
        min-height: 400px;
        object-fit: cover;
    }

    .carousel-item h1 {
        font-size: 28px !important;
    }

    .carousel-item p {
        font-size: 14px !important;
    }
}

.page-header {
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../img/closer-13.jpeg) center center no-repeat;
    background-size: cover;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--bs-white);
}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
    font-size: 18px;
    color: var(--bs-white);
}

/*** Carousel End ***/


/*** Services Start ***/

.services .services-item {
    box-shadow: 0 0 60px rgba(0, 0, 0, .2);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px 0;
    position: relative;
}


.services-content::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    border-radius: 10px 10px 0 0;
    background: rgba(3, 43, 243, 0.8);
    transition: .5s;
}

.services-content::after {
    top: 0;
    bottom: auto;
    border-radius: 10px 10px 10px 10px;
}

.services-item:hover .services-content::after {
    height: 100%;
    opacity: 1;
    transition: .5s;
}

.services-item:hover .services-content-icon {
    position: relative;
    z-index: 2;
}

.services-item .services-content-icon i,
.services-item .services-content-icon p {
    transition: .5s;
}

.services-item:hover .services-content-icon i {
    color: var(--bs-secondary) !important;
}

.services-item:hover .services-content-icon p {
    color: var(--bs-white);
}

/*** Services End ***/


/*** Project Start ***/

.project-img {
    position: relative;
    padding: 15px;
}

.project-img::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    left: 0;
    background: var(--bs-secondary);
    border-radius: 10px;
    opacity: 1;
    z-index: -1;
    transition: .5s;
}

.project-img::after {
    content: "";
    width: 150px;
    height: 150px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: var(--bs-primary);
    border-radius: 10px;
    opacity: 1;
    z-index: -1;
    transition: .5s;
}

.project-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.project-content a {
    display: inline-block;
    padding: 20px 25px;
    background: var(--bs-primary);
    border-radius: 10px;
}

.project-item:hover .project-content {
    opacity: 1;
    transition: .5s;
}

.project-item:hover .project-img::before,
.project-item:hover .project-img::after {
    opacity: 0;
}

/*** Project End ***/


/*** Blog Start ***/
.blog-item .blog-btn {
    z-index: 2;
}

.blog-btn .blog-btn-icon {
    height: 50px;
    position: relative;
    overflow: hidden;
}

.blog-btn-icon .blog-icon-2 {
    display: flex;
    position: absolute;
    top: 6px;
    left: -140px;
    
}

.blog-btn-icon:hover .blog-icon-2 {
    transition: 1s;
    left: 5px;
    top: 6px;
    padding-bottom: 5px;
}
.blog-icon-1 {
    position: relative;
    top: -4px;
}
.blog-btn-icon:hover .blog-icon-1 {
    top: 0;
    right: -140px;
    transition: 1s;
}

/*** Blog End ***/


/*** Team Start ***/

.team-item {
    border-top: 30px solid var(--bs-secondary) !important;
    background: rgba(239, 239, 241, 0.8);
}

.team-content::before {
    height: 200px;
    display: block;
    content: "";
    position: relative;
    top: -101px;
    background: var(--bs-secondary);
    clip-path: polygon(50% 50%, 100% 50%, 50% 100%, 0% 50%);
    padding: 60px;
    opacity: 1;
}

.team-img-icon {
    position: relative;
    margin-top: -200px;
    padding: 30px;
    padding-bottom: 0;
}

.team-img {
    border: 15px solid var(--bs-white);
}

.team-img img {
    border: 10px solid var(--bs-secondary);
    transition: .5s;
}

.team-item:hover h4 {
    color: var(--bs-primary);
    transition: .5s;
}

.team-item:hover .team-img img {
    transform: scale(1.05);
    border: 10px solid var(--bs-secondary);
}

.team-carousel .owl-stage {
    position: relative;
    width: 100%;
    height: 100%;
}

.team-carousel .owl-nav {
    position: absolute;
    top: -100px;
    right: 50px;
    display: flex;
}

.team-carousel .owl-nav .owl-prev,
.team-carousel .owl-nav .owl-next {
    width: 56px;
    height: 56px;
    border-radius: 56px;
    margin-left: 15px;
    background: var(--bs-secondary);
    color: var(--bs-white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.team-carousel .owl-nav .owl-prev:hover,
.team-carousel .owl-nav .owl-next:hover {
    background: var(--bs-primary);
    color: var(--bs-white);
}

@media (max-width: 992px) {
    .team-carousel {
        margin-top: 3rem;
    }

    .team-carousel .owl-nav {
        top: -85px;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
        margin-left: -15px;
    }
}

/*** Team End ***/


/*** Testimonial Start ***/

.testimonial-item {
    background: #e3f0eb;

}

.testimonial-carousel .owl-dots {
    margin-top: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: #c1dad0;
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 30px;
    background: var(--bs-primary);
}

.testimonial-carousel .owl-item.center {
    position: relative;
    z-index: 1;
}

.testimonial-carousel .owl-item .testimonial-item {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: #FFFFFF !important;
    box-shadow: 0 0 30px #DDDDDD;
}

/*** Testimonial End ***/


/*** Contact Start ***/
.contact-detail::before {
    position: absolute;
    content: "";
    height: 50%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgb(210, 243, 235, 1), rgba(230, 250, 245, .3)), url(../img/background.jpg) center center no-repeat;
    background-size: cover;
    border-radius: 10px;
    z-index: -1;
}

.contact-map {
    background: #26d48c;
}

.contact-form {
    background: #26d48c;
}

/*** Contact End ***/


/*** Footer Start ***/

.footer .short-link a,
.footer .help-link a,
.footer .contact-link a {
    transition: .5s;
}

.footer .short-link a:hover,
.footer .help-link a:hover,
.footer .contact-link a:hover {
    letter-spacing: 1px;
}

.footer .hightech-link a:hover {
    background: var(--bs-secondary);
    border: 0;
}

/*** Footer End ***/




/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    /*========== Colors ==========*/
    --text-color: #000000;
    --bg-color: #282828;

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: .938rem;

}

@media screen and (min-width: 968px) {
    :root {
        --normal-font-size: 1rem;
    }
}

/*==================== BASE ====================*/
*,
*:after,
*:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body {
    font-size: var(--normal-font-size);
    background-color: var(--bg-color);
    color: var(--text-color);
    font-weight: 400;
    font-family: var(--body-font);
    transition: all 0.2s ease;
} */

/*==================== REUSABLE CSS CLASSES ====================*/
.container-career {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    /* padding: 3rem 0; */
    min-height: 100vh;
    display: grid;
    place-items: center;
}

/*==================== SERVICE CARD ====================*/
.card__container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    width: 100%;
    max-width: 90%;
    margin: 40px auto;
}
.card__bx {
    --bg-clr: #000000;
    --txt-clr: #ffffff;
    --btn-txt-clr: #ffffff;
    --transition: all 0.5s;

    font-family: 'Poppins', sans-serif;
    height: 400px;
    width: 300px;
    overflow: hidden;
    border-radius: 20px;
    border-top-left-radius: 70px;
    position: relative;
    overflow: hidden;
    background: var(--clr);
    transition: var(--transition);
}
.card__1 {
    --clr: #78fd86;
}
.card__2 {
    --clr: #78fd86;
}
.card__3 {
    --clr: #78fd86;
}
.card__bx .card__data {
    position: absolute;
    inset: 10px;
    border-radius: 10px;
    background: var(--bg-clr);
}
.card__bx .card__data .card__icon {
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-right-radius: 50%;
    height: 140px;
    width: 140px;
    background: var(--clr);
}
.card__bx .card__data .card__icon::before {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    height: 30px;
    width: 30px;
    border-top-left-radius: 30px;
    background: transparent;
    box-shadow: -5px -5px 0 5px var(--clr);
}
.card__bx .card__data .card__icon::after {
    content: '';
    position: absolute;
    right: -30px;
    top: 0;
    height: 30px;
    width: 30px;
    border-top-left-radius: 30px;
    background: transparent;
    box-shadow: -5px -5px 0 5px var(--clr);
}
.card__bx .card__data .card__icon .card__icon-bx {
    position: absolute;
    inset: 10px;
    border-radius: 10px;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    background: var(--bg-clr);
    color: var(--clr);
}
.card__bx:hover .card__data .card__icon .card__icon-bx {
    background: var(--clr);
    color: var(--txt-clr);
    transition: var(--transition);
}
.card__bx .card__data .card__content {
    position: absolute;
    top: 150px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    color: var(--txt-clr);
}
.card__bx .card__data .card__content h3 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.card__bx .card__data .card__content p {
    font-size: 14px;
    opacity: 0.75;
}
.card__bx .card__data .card__content a {
    display: inline-flex;
    align-self: center;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    border: 2px solid var(--clr);
    color: var(--btn-txt-clr);
    background: var(--clr);
    transition: var(--transition);
}
.card__bx .card__data .card__content a:hover {
    background: transparent;
    color: var(--clr);
}



/*  */
  #stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1144px 728px #FFF , 682px 735px #FFF , 765px 1342px #FFF , 1098px 1189px #FFF , 878px 1230px #FFF , 754px 888px #FFF , 1778px 1646px #FFF , 126px 1127px #FFF , 1485px 23px #FFF , 192px 1415px #FFF , 488px 1489px #FFF , 539px 1578px #FFF , 1720px 1531px #FFF , 1031px 117px #FFF , 1885px 1961px #FFF , 1212px 494px #FFF , 149px 1298px #FFF , 186px 1879px #FFF , 914px 959px #FFF , 1948px 1384px #FFF , 188px 1852px #FFF , 1128px 1746px #FFF , 1486px 1885px #FFF , 1608px 1075px #FFF , 1252px 137px #FFF , 270px 878px #FFF , 1802px 1559px #FFF , 25px 1911px #FFF , 1381px 293px #FFF , 785px 357px #FFF , 1398px 1156px #FFF , 1656px 338px #FFF , 1551px 150px #FFF , 1224px 536px #FFF , 585px 478px #FFF , 1252px 1947px #FFF , 1735px 365px #FFF , 1671px 1871px #FFF , 1444px 1815px #FFF , 1955px 1532px #FFF , 1927px 168px #FFF , 1620px 1912px #FFF , 1402px 1489px #FFF , 54px 1247px #FFF , 1143px 1189px #FFF , 698px 172px #FFF , 1623px 1503px #FFF , 485px 1533px #FFF , 1560px 784px #FFF , 517px 950px #FFF , 557px 201px #FFF , 1959px 1370px #FFF , 1744px 441px #FFF , 1678px 1171px #FFF , 563px 875px #FFF , 1013px 1615px #FFF , 1018px 1582px #FFF , 1451px 20px #FFF , 1526px 953px #FFF , 1914px 1044px #FFF , 1112px 48px #FFF , 1166px 64px #FFF , 66px 1938px #FFF , 1486px 998px #FFF , 1759px 1964px #FFF , 1037px 1828px #FFF , 465px 758px #FFF , 1212px 176px #FFF , 707px 157px #FFF , 1654px 1373px #FFF , 1809px 334px #FFF , 245px 1538px #FFF , 1715px 462px #FFF , 1154px 1697px #FFF , 1243px 331px #FFF , 397px 861px #FFF , 108px 1501px #FFF , 874px 133px #FFF , 1822px 34px #FFF , 1107px 1417px #FFF , 143px 1763px #FFF , 1837px 1358px #FFF , 318px 1139px #FFF , 397px 1747px #FFF , 1010px 772px #FFF , 92px 321px #FFF , 1121px 183px #FFF , 765px 1658px #FFF , 1139px 52px #FFF , 1768px 1431px #FFF , 358px 699px #FFF , 583px 148px #FFF , 375px 1002px #FFF , 1276px 231px #FFF , 784px 214px #FFF , 578px 944px #FFF , 1135px 1543px #FFF , 334px 651px #FFF , 1554px 889px #FFF , 167px 1716px #FFF , 1961px 688px #FFF , 986px 1801px #FFF , 1994px 1859px #FFF , 1631px 800px #FFF , 435px 238px #FFF , 1707px 128px #FFF , 1018px 612px #FFF , 964px 1357px #FFF , 96px 1730px #FFF , 433px 428px #FFF , 950px 1456px #FFF , 494px 885px #FFF , 916px 1578px #FFF , 1547px 404px #FFF , 1806px 1533px #FFF , 1891px 166px #FFF , 1761px 986px #FFF , 1093px 839px #FFF , 112px 577px #FFF , 188px 957px #FFF , 423px 400px #FFF , 1949px 1424px #FFF , 1502px 230px #FFF , 832px 632px #FFF , 690px 1107px #FFF , 1054px 1296px #FFF , 1407px 1882px #FFF , 1330px 1142px #FFF , 689px 964px #FFF , 752px 434px #FFF , 761px 1222px #FFF , 1968px 46px #FFF , 1449px 101px #FFF , 936px 832px #FFF , 593px 1074px #FFF , 1238px 729px #FFF , 329px 1630px #FFF , 1609px 1742px #FFF , 1613px 1335px #FFF , 1187px 1238px #FFF , 1827px 1116px #FFF , 720px 1162px #FFF , 1795px 1548px #FFF , 1795px 1768px #FFF , 600px 1144px #FFF , 1799px 935px #FFF , 887px 1814px #FFF , 1525px 1307px #FFF , 1252px 134px #FFF , 314px 68px #FFF , 1057px 634px #FFF , 841px 1673px #FFF , 1677px 923px #FFF , 724px 1006px #FFF , 449px 1909px #FFF , 1561px 733px #FFF , 787px 460px #FFF , 952px 1574px #FFF , 965px 1854px #FFF , 12px 1819px #FFF , 1771px 509px #FFF , 998px 1745px #FFF , 1158px 1713px #FFF , 287px 425px #FFF , 1097px 13px #FFF , 475px 1837px #FFF , 1950px 1870px #FFF , 923px 310px #FFF , 1883px 1308px #FFF , 148px 1811px #FFF , 1974px 878px #FFF , 371px 720px #FFF , 201px 1137px #FFF , 1069px 1619px #FFF , 573px 874px #FFF , 1105px 1215px #FFF , 1143px 750px #FFF , 1356px 1999px #FFF , 695px 1271px #FFF , 560px 1585px #FFF , 562px 1185px #FFF , 876px 888px #FFF , 1124px 11px #FFF , 1127px 1512px #FFF , 1615px 361px #FFF , 1032px 295px #FFF , 1100px 652px #FFF , 1768px 747px #FFF , 1952px 288px #FFF , 866px 1392px #FFF , 1517px 1538px #FFF , 544px 1270px #FFF , 645px 679px #FFF , 1499px 662px #FFF , 1046px 982px #FFF , 54px 883px #FFF , 1583px 381px #FFF , 1076px 944px #FFF , 65px 1077px #FFF , 251px 1478px #FFF , 518px 1936px #FFF , 72px 1112px #FFF , 1906px 1663px #FFF , 996px 442px #FFF , 1330px 419px #FFF , 1157px 1529px #FFF , 1476px 1037px #FFF , 855px 83px #FFF , 808px 399px #FFF , 1952px 1680px #FFF , 445px 84px #FFF , 977px 739px #FFF , 1866px 458px #FFF , 230px 293px #FFF , 1414px 555px #FFF , 292px 989px #FFF , 1651px 1518px #FFF , 1362px 1511px #FFF , 471px 862px #FFF , 383px 993px #FFF , 685px 546px #FFF , 1908px 1431px #FFF , 1030px 107px #FFF , 523px 141px #FFF , 1734px 1409px #FFF , 824px 991px #FFF , 747px 1326px #FFF , 1259px 1334px #FFF , 805px 760px #FFF , 308px 1130px #FFF , 1511px 729px #FFF , 137px 725px #FFF , 1551px 893px #FFF , 1177px 154px #FFF , 1846px 1661px #FFF , 484px 1096px #FFF , 1691px 1521px #FFF , 1598px 1910px #FFF , 846px 468px #FFF , 1739px 1771px #FFF , 893px 945px #FFF , 831px 407px #FFF , 404px 310px #FFF , 232px 1317px #FFF , 1236px 1696px #FFF , 1771px 457px #FFF , 407px 1169px #FFF , 74px 1125px #FFF , 1376px 1865px #FFF , 44px 836px #FFF , 1948px 595px #FFF , 188px 1258px #FFF , 35px 1501px #FFF , 629px 1069px #FFF , 1603px 931px #FFF , 489px 862px #FFF , 1181px 1986px #FFF , 1866px 1444px #FFF , 1537px 303px #FFF , 1952px 17px #FFF , 13px 1240px #FFF , 1307px 911px #FFF , 1543px 1135px #FFF , 1101px 1278px #FFF , 1212px 1077px #FFF , 1798px 1155px #FFF , 1464px 342px #FFF , 553px 1623px #FFF , 207px 395px #FFF , 683px 424px #FFF , 586px 1770px #FFF , 1265px 220px #FFF , 357px 1815px #FFF , 780px 1184px #FFF , 877px 1904px #FFF , 326px 1569px #FFF , 1819px 1938px #FFF , 1839px 503px #FFF , 720px 1231px #FFF , 640px 1084px #FFF , 1122px 657px #FFF , 725px 945px #FFF , 992px 816px #FFF , 1935px 851px #FFF , 1074px 1686px #FFF , 1160px 1438px #FFF , 1259px 1905px #FFF , 1120px 215px #FFF , 92px 581px #FFF , 932px 367px #FFF , 1121px 523px #FFF , 1273px 1866px #FFF , 149px 140px #FFF , 230px 1212px #FFF , 1265px 1592px #FFF , 1223px 654px #FFF , 820px 1316px #FFF , 1369px 1946px #FFF , 319px 1164px #FFF , 1058px 1973px #FFF , 1756px 41px #FFF , 740px 2000px #FFF , 1241px 1914px #FFF , 248px 171px #FFF , 1657px 1915px #FFF , 1662px 260px #FFF , 1670px 736px #FFF , 1877px 607px #FFF , 396px 1058px #FFF , 240px 599px #FFF , 769px 1041px #FFF , 940px 1436px #FFF , 793px 632px #FFF , 1350px 430px #FFF , 1790px 1327px #FFF , 865px 86px #FFF , 988px 582px #FFF , 1777px 1147px #FFF , 901px 1543px #FFF , 728px 1994px #FFF , 83px 1893px #FFF , 266px 195px #FFF , 1545px 451px #FFF , 311px 1659px #FFF , 1612px 295px #FFF , 1844px 651px #FFF , 955px 1670px #FFF , 1631px 494px #FFF , 1754px 435px #FFF , 1271px 488px #FFF , 1859px 1892px #FFF , 1631px 820px #FFF , 1833px 1258px #FFF , 316px 803px #FFF , 116px 1875px #FFF , 1620px 1284px #FFF , 1767px 1850px #FFF , 18px 574px #FFF , 1857px 840px #FFF , 184px 1498px #FFF , 1389px 76px #FFF , 27px 1974px #FFF , 1795px 463px #FFF , 619px 1001px #FFF , 93px 1857px #FFF , 393px 1722px #FFF , 350px 396px #FFF , 1789px 422px #FFF , 1944px 1609px #FFF , 24px 861px #FFF , 1895px 1470px #FFF , 1478px 1168px #FFF , 122px 296px #FFF , 1100px 592px #FFF , 1561px 508px #FFF , 572px 1016px #FFF , 352px 94px #FFF , 864px 1216px #FFF , 1036px 948px #FFF , 1706px 1829px #FFF , 143px 77px #FFF , 1031px 1600px #FFF , 1028px 80px #FFF , 1300px 1480px #FFF , 1697px 1952px #FFF , 1768px 1285px #FFF , 730px 693px #FFF , 1759px 919px #FFF , 917px 1127px #FFF , 1752px 581px #FFF , 1614px 1205px #FFF , 559px 1339px #FFF , 1622px 255px #FFF , 1700px 133px #FFF , 663px 625px #FFF , 1854px 1606px #FFF , 254px 581px #FFF , 1597px 551px #FFF , 1092px 123px #FFF , 788px 463px #FFF , 1308px 531px #FFF , 670px 569px #FFF , 487px 1212px #FFF , 1181px 1323px #FFF , 1499px 1757px #FFF , 1632px 543px #FFF , 441px 1728px #FFF , 838px 1005px #FFF , 746px 252px #FFF , 1000px 329px #FFF , 613px 1185px #FFF , 1457px 61px #FFF , 1849px 1012px #FFF , 1210px 674px #FFF , 1138px 400px #FFF , 1151px 1273px #FFF , 537px 905px #FFF , 317px 710px #FFF , 408px 1697px #FFF , 1056px 1349px #FFF , 794px 987px #FFF , 400px 838px #FFF , 1667px 492px #FFF , 942px 1739px #FFF , 1085px 1870px #FFF , 1899px 721px #FFF , 681px 1373px #FFF , 798px 392px #FFF , 486px 1259px #FFF , 460px 687px #FFF , 959px 1491px #FFF , 1821px 367px #FFF , 730px 1532px #FFF , 1202px 484px #FFF , 212px 1375px #FFF , 111px 20px #FFF , 917px 1009px #FFF , 990px 813px #FFF , 470px 426px #FFF , 1011px 753px #FFF , 59px 461px #FFF , 360px 1416px #FFF , 698px 1073px #FFF , 1206px 55px #FFF , 107px 1179px #FFF , 1062px 1462px #FFF , 950px 1605px #FFF , 1348px 1347px #FFF , 1065px 287px #FFF , 1425px 1861px #FFF , 1118px 480px #FFF , 180px 1031px #FFF , 1101px 1822px #FFF , 1514px 1370px #FFF , 610px 1293px #FFF , 397px 1510px #FFF , 1975px 1389px #FFF , 899px 1150px #FFF , 1292px 496px #FFF , 1798px 1882px #FFF , 1904px 1476px #FFF , 802px 1795px #FFF , 1634px 1684px #FFF , 743px 196px #FFF , 1161px 963px #FFF , 481px 821px #FFF , 1559px 1292px #FFF , 871px 1822px #FFF , 782px 560px #FFF , 1576px 767px #FFF , 30px 1394px #FFF , 1817px 863px #FFF , 1783px 814px #FFF , 20px 1976px #FFF , 988px 1586px #FFF , 1670px 212px #FFF , 1332px 1203px #FFF , 311px 614px #FFF , 1562px 1617px #FFF , 826px 1293px #FFF , 283px 154px #FFF , 1142px 1095px #FFF , 1188px 67px #FFF , 8px 625px #FFF , 1917px 1534px #FFF , 1800px 677px #FFF , 620px 1687px #FFF , 424px 192px #FFF , 1205px 61px #FFF , 704px 736px #FFF , 1966px 1835px #FFF , 1539px 216px #FFF , 1372px 750px #FFF , 1947px 540px #FFF , 1839px 452px #FFF , 1762px 695px #FFF , 124px 588px #FFF , 865px 1727px #FFF , 800px 1704px #FFF , 18px 1066px #FFF , 1441px 1500px #FFF , 10px 236px #FFF , 1899px 594px #FFF , 1607px 912px #FFF , 25px 750px #FFF , 628px 1612px #FFF , 1902px 663px #FFF , 1863px 1708px #FFF , 1608px 1013px #FFF , 1033px 1418px #FFF , 1159px 1968px #FFF , 1462px 338px #FFF , 896px 123px #FFF , 1002px 1102px #FFF , 1140px 180px #FFF , 1039px 970px #FFF , 1032px 1561px #FFF , 1783px 1206px #FFF , 1993px 800px #FFF , 909px 1938px #FFF , 852px 388px #FFF , 704px 1369px #FFF , 479px 1639px #FFF , 172px 638px #FFF , 590px 804px #FFF , 771px 1775px #FFF , 794px 1040px #FFF , 1972px 1781px #FFF , 1313px 1733px #FFF , 499px 1018px #FFF , 1437px 940px #FFF , 939px 1735px #FFF , 895px 1967px #FFF , 229px 204px #FFF , 175px 401px #FFF , 1094px 1186px #FFF , 1813px 1864px #FFF , 980px 1516px #FFF , 1311px 469px #FFF , 1883px 1344px #FFF , 449px 1582px #FFF , 1389px 1060px #FFF , 1135px 1453px #FFF , 1060px 1205px #FFF , 1010px 205px #FFF , 973px 1888px #FFF , 1429px 969px #FFF , 89px 1710px #FFF , 1033px 1712px #FFF , 1954px 818px #FFF , 1497px 473px #FFF , 161px 371px #FFF , 349px 1793px #FFF , 491px 1316px #FFF , 47px 1290px #FFF , 1419px 1999px #FFF , 1248px 1790px #FFF , 1269px 1237px #FFF , 1398px 1005px #FFF , 925px 926px #FFF , 1143px 1962px #FFF , 1054px 361px #FFF , 1752px 274px #FFF , 1825px 1855px #FFF , 573px 191px #FFF , 278px 657px #FFF , 135px 516px #FFF , 633px 1269px #FFF , 794px 384px #FFF , 404px 977px #FFF , 1715px 754px #FFF , 266px 660px #FFF , 930px 1328px #FFF , 711px 1828px #FFF , 97px 1218px #FFF , 133px 127px #FFF , 726px 1931px #FFF , 426px 447px #FFF , 1284px 1312px #FFF , 871px 618px #FFF , 55px 1785px #FFF , 1500px 1256px #FFF , 648px 258px #FFF , 1079px 156px #FFF , 1523px 857px #FFF , 468px 1339px #FFF , 1387px 1034px #FFF , 470px 431px #FFF , 1390px 1700px #FFF , 1699px 748px #FFF , 1102px 74px #FFF , 247px 950px #FFF , 249px 1010px #FFF , 832px 135px #FFF , 139px 1120px #FFF , 789px 300px #FFF , 304px 1905px #FFF , 1509px 1808px #FFF , 657px 1940px #FFF , 1864px 322px #FFF , 1948px 531px #FFF , 624px 1164px #FFF , 1565px 1673px #FFF , 742px 1655px #FFF , 933px 674px #FFF , 991px 1596px #FFF , 1886px 654px #FFF , 1657px 1656px #FFF , 458px 928px #FFF , 1196px 1253px #FFF , 1697px 197px #FFF , 571px 1512px #FFF , 1891px 1658px #FFF , 105px 1808px #FFF , 1951px 27px #FFF , 1234px 1326px #FFF , 1141px 242px #FFF , 102px 886px #FFF , 1227px 770px #FFF , 1580px 392px #FFF , 1345px 709px #FFF , 1325px 555px #FFF , 562px 898px #FFF , 1270px 479px #FFF , 1839px 884px #FFF , 1908px 14px #FFF , 1357px 595px #FFF , 212px 297px #FFF , 647px 506px #FFF , 1160px 1901px #FFF , 1027px 1171px #FFF , 1429px 1578px #FFF , 9px 618px #FFF , 121px 1954px #FFF , 1692px 164px #FFF , 1083px 1457px #FFF , 1035px 742px #FFF , 1163px 1566px #FFF , 1144px 1385px #FFF , 1211px 911px #FFF , 1653px 813px #FFF , 1090px 1570px #FFF , 290px 1271px #FFF , 746px 1329px #FFF , 453px 1447px #FFF , 1497px 1874px #FFF , 1493px 1116px #FFF , 845px 1742px #FFF , 1165px 1999px #FFF , 576px 563px #FFF , 51px 404px #FFF , 993px 770px #FFF , 1997px 674px #FFF , 1355px 1487px #FFF , 1642px 146px #FFF , 1160px 1718px #FFF , 947px 235px #FFF , 874px 1198px #FFF , 1280px 1465px #FFF , 373px 654px #FFF , 1734px 608px #FFF , 1699px 40px #FFF , 122px 1568px #FFF , 181px 1966px #FFF , 9px 194px #FFF , 59px 707px #FFF , 871px 726px #FFF , 220px 11px #FFF , 1626px 1002px #FFF , 877px 1749px #FFF , 330px 300px #FFF , 1515px 308px #FFF , 876px 1509px #FFF , 1016px 960px #FFF , 113px 267px #FFF , 747px 1859px #FFF , 234px 906px #FFF , 1687px 1601px #FFF , 773px 844px #FFF , 1812px 1479px #FFF , 688px 1103px #FFF , 1305px 71px #FFF , 1276px 493px #FFF , 843px 1434px #FFF , 6px 1435px #FFF , 1848px 508px #FFF , 1101px 240px #FFF , 1974px 1952px #FFF , 1072px 406px #FFF , 697px 1196px #FFF , 988px 256px #FFF , 501px 582px #FFF , 460px 1825px #FFF , 1912px 1029px #FFF , 1829px 1728px #FFF , 405px 190px #FFF , 1930px 1454px #FFF , 1524px 1997px #FFF , 721px 1573px #FFF , 1715px 1977px #FFF , 1003px 452px #FFF , 1200px 1844px #FFF , 1532px 986px #FFF , 1631px 1912px #FFF , 1521px 1236px #FFF , 1862px 1939px #FFF , 490px 259px #FFF , 991px 929px #FFF , 1770px 96px #FFF , 599px 1502px #FFF , 1269px 1762px #FFF , 1745px 1873px #FFF , 1462px 1727px #FFF , 1271px 532px #FFF , 1544px 1172px #FFF , 142px 1744px #FFF , 521px 941px #FFF , 596px 879px #FFF , 985px 427px #FFF , 1691px 1653px #FFF;
    animation: animStar  50s linear infinite;
  }
  #stars:after {
    content: " ";
    position: absolute;
    top: 3000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1144px 728px #FFF , 682px 735px #FFF , 765px 1342px #FFF , 1098px 1189px #FFF , 878px 1230px #FFF , 754px 888px #FFF , 1778px 1646px #FFF , 126px 1127px #FFF , 1485px 23px #FFF , 192px 1415px #FFF , 488px 1489px #FFF , 539px 1578px #FFF , 1720px 1531px #FFF , 1031px 117px #FFF , 1885px 1961px #FFF , 1212px 494px #FFF , 149px 1298px #FFF , 186px 1879px #FFF , 914px 959px #FFF , 1948px 1384px #FFF , 188px 1852px #FFF , 1128px 1746px #FFF , 1486px 1885px #FFF , 1608px 1075px #FFF , 1252px 137px #FFF , 270px 878px #FFF , 1802px 1559px #FFF , 25px 1911px #FFF , 1381px 293px #FFF , 785px 357px #FFF , 1398px 1156px #FFF , 1656px 338px #FFF , 1551px 150px #FFF , 1224px 536px #FFF , 585px 478px #FFF , 1252px 1947px #FFF , 1735px 365px #FFF , 1671px 1871px #FFF , 1444px 1815px #FFF , 1955px 1532px #FFF , 1927px 168px #FFF , 1620px 1912px #FFF , 1402px 1489px #FFF , 54px 1247px #FFF , 1143px 1189px #FFF , 698px 172px #FFF , 1623px 1503px #FFF , 485px 1533px #FFF , 1560px 784px #FFF , 517px 950px #FFF , 557px 201px #FFF , 1959px 1370px #FFF , 1744px 441px #FFF , 1678px 1171px #FFF , 563px 875px #FFF , 1013px 1615px #FFF , 1018px 1582px #FFF , 1451px 20px #FFF , 1526px 953px #FFF , 1914px 1044px #FFF , 1112px 48px #FFF , 1166px 64px #FFF , 66px 1938px #FFF , 1486px 998px #FFF , 1759px 1964px #FFF , 1037px 1828px #FFF , 465px 758px #FFF , 1212px 176px #FFF , 707px 157px #FFF , 1654px 1373px #FFF , 1809px 334px #FFF , 245px 1538px #FFF , 1715px 462px #FFF , 1154px 1697px #FFF , 1243px 331px #FFF , 397px 861px #FFF , 108px 1501px #FFF , 874px 133px #FFF , 1822px 34px #FFF , 1107px 1417px #FFF , 143px 1763px #FFF , 1837px 1358px #FFF , 318px 1139px #FFF , 397px 1747px #FFF , 1010px 772px #FFF , 92px 321px #FFF , 1121px 183px #FFF , 765px 1658px #FFF , 1139px 52px #FFF , 1768px 1431px #FFF , 358px 699px #FFF , 583px 148px #FFF , 375px 1002px #FFF , 1276px 231px #FFF , 784px 214px #FFF , 578px 944px #FFF , 1135px 1543px #FFF , 334px 651px #FFF , 1554px 889px #FFF , 167px 1716px #FFF , 1961px 688px #FFF , 986px 1801px #FFF , 1994px 1859px #FFF , 1631px 800px #FFF , 435px 238px #FFF , 1707px 128px #FFF , 1018px 612px #FFF , 964px 1357px #FFF , 96px 1730px #FFF , 433px 428px #FFF , 950px 1456px #FFF , 494px 885px #FFF , 916px 1578px #FFF , 1547px 404px #FFF , 1806px 1533px #FFF , 1891px 166px #FFF , 1761px 986px #FFF , 1093px 839px #FFF , 112px 577px #FFF , 188px 957px #FFF , 423px 400px #FFF , 1949px 1424px #FFF , 1502px 230px #FFF , 832px 632px #FFF , 690px 1107px #FFF , 1054px 1296px #FFF , 1407px 1882px #FFF , 1330px 1142px #FFF , 689px 964px #FFF , 752px 434px #FFF , 761px 1222px #FFF , 1968px 46px #FFF , 1449px 101px #FFF , 936px 832px #FFF , 593px 1074px #FFF , 1238px 729px #FFF , 329px 1630px #FFF , 1609px 1742px #FFF , 1613px 1335px #FFF , 1187px 1238px #FFF , 1827px 1116px #FFF , 720px 1162px #FFF , 1795px 1548px #FFF , 1795px 1768px #FFF , 600px 1144px #FFF , 1799px 935px #FFF , 887px 1814px #FFF , 1525px 1307px #FFF , 1252px 134px #FFF , 314px 68px #FFF , 1057px 634px #FFF , 841px 1673px #FFF , 1677px 923px #FFF , 724px 1006px #FFF , 449px 1909px #FFF , 1561px 733px #FFF , 787px 460px #FFF , 952px 1574px #FFF , 965px 1854px #FFF , 12px 1819px #FFF , 1771px 509px #FFF , 998px 1745px #FFF , 1158px 1713px #FFF , 287px 425px #FFF , 1097px 13px #FFF , 475px 1837px #FFF , 1950px 1870px #FFF , 923px 310px #FFF , 1883px 1308px #FFF , 148px 1811px #FFF , 1974px 878px #FFF , 371px 720px #FFF , 201px 1137px #FFF , 1069px 1619px #FFF , 573px 874px #FFF , 1105px 1215px #FFF , 1143px 750px #FFF , 1356px 1999px #FFF , 695px 1271px #FFF , 560px 1585px #FFF , 562px 1185px #FFF , 876px 888px #FFF , 1124px 11px #FFF , 1127px 1512px #FFF , 1615px 361px #FFF , 1032px 295px #FFF , 1100px 652px #FFF , 1768px 747px #FFF , 1952px 288px #FFF , 866px 1392px #FFF , 1517px 1538px #FFF , 544px 1270px #FFF , 645px 679px #FFF , 1499px 662px #FFF , 1046px 982px #FFF , 54px 883px #FFF , 1583px 381px #FFF , 1076px 944px #FFF , 65px 1077px #FFF , 251px 1478px #FFF , 518px 1936px #FFF , 72px 1112px #FFF , 1906px 1663px #FFF , 996px 442px #FFF , 1330px 419px #FFF , 1157px 1529px #FFF , 1476px 1037px #FFF , 855px 83px #FFF , 808px 399px #FFF , 1952px 1680px #FFF , 445px 84px #FFF , 977px 739px #FFF , 1866px 458px #FFF , 230px 293px #FFF , 1414px 555px #FFF , 292px 989px #FFF , 1651px 1518px #FFF , 1362px 1511px #FFF , 471px 862px #FFF , 383px 993px #FFF , 685px 546px #FFF , 1908px 1431px #FFF , 1030px 107px #FFF , 523px 141px #FFF , 1734px 1409px #FFF , 824px 991px #FFF , 747px 1326px #FFF , 1259px 1334px #FFF , 805px 760px #FFF , 308px 1130px #FFF , 1511px 729px #FFF , 137px 725px #FFF , 1551px 893px #FFF , 1177px 154px #FFF , 1846px 1661px #FFF , 484px 1096px #FFF , 1691px 1521px #FFF , 1598px 1910px #FFF , 846px 468px #FFF , 1739px 1771px #FFF , 893px 945px #FFF , 831px 407px #FFF , 404px 310px #FFF , 232px 1317px #FFF , 1236px 1696px #FFF , 1771px 457px #FFF , 407px 1169px #FFF , 74px 1125px #FFF , 1376px 1865px #FFF , 44px 836px #FFF , 1948px 595px #FFF , 188px 1258px #FFF , 35px 1501px #FFF , 629px 1069px #FFF , 1603px 931px #FFF , 489px 862px #FFF , 1181px 1986px #FFF , 1866px 1444px #FFF , 1537px 303px #FFF , 1952px 17px #FFF , 13px 1240px #FFF , 1307px 911px #FFF , 1543px 1135px #FFF , 1101px 1278px #FFF , 1212px 1077px #FFF , 1798px 1155px #FFF , 1464px 342px #FFF , 553px 1623px #FFF , 207px 395px #FFF , 683px 424px #FFF , 586px 1770px #FFF , 1265px 220px #FFF , 357px 1815px #FFF , 780px 1184px #FFF , 877px 1904px #FFF , 326px 1569px #FFF , 1819px 1938px #FFF , 1839px 503px #FFF , 720px 1231px #FFF , 640px 1084px #FFF , 1122px 657px #FFF , 725px 945px #FFF , 992px 816px #FFF , 1935px 851px #FFF , 1074px 1686px #FFF , 1160px 1438px #FFF , 1259px 1905px #FFF , 1120px 215px #FFF , 92px 581px #FFF , 932px 367px #FFF , 1121px 523px #FFF , 1273px 1866px #FFF , 149px 140px #FFF , 230px 1212px #FFF , 1265px 1592px #FFF , 1223px 654px #FFF , 820px 1316px #FFF , 1369px 1946px #FFF , 319px 1164px #FFF , 1058px 1973px #FFF , 1756px 41px #FFF , 740px 2000px #FFF , 1241px 1914px #FFF , 248px 171px #FFF , 1657px 1915px #FFF , 1662px 260px #FFF , 1670px 736px #FFF , 1877px 607px #FFF , 396px 1058px #FFF , 240px 599px #FFF , 769px 1041px #FFF , 940px 1436px #FFF , 793px 632px #FFF , 1350px 430px #FFF , 1790px 1327px #FFF , 865px 86px #FFF , 988px 582px #FFF , 1777px 1147px #FFF , 901px 1543px #FFF , 728px 1994px #FFF , 83px 1893px #FFF , 266px 195px #FFF , 1545px 451px #FFF , 311px 1659px #FFF , 1612px 295px #FFF , 1844px 651px #FFF , 955px 1670px #FFF , 1631px 494px #FFF , 1754px 435px #FFF , 1271px 488px #FFF , 1859px 1892px #FFF , 1631px 820px #FFF , 1833px 1258px #FFF , 316px 803px #FFF , 116px 1875px #FFF , 1620px 1284px #FFF , 1767px 1850px #FFF , 18px 574px #FFF , 1857px 840px #FFF , 184px 1498px #FFF , 1389px 76px #FFF , 27px 1974px #FFF , 1795px 463px #FFF , 619px 1001px #FFF , 93px 1857px #FFF , 393px 1722px #FFF , 350px 396px #FFF , 1789px 422px #FFF , 1944px 1609px #FFF , 24px 861px #FFF , 1895px 1470px #FFF , 1478px 1168px #FFF , 122px 296px #FFF , 1100px 592px #FFF , 1561px 508px #FFF , 572px 1016px #FFF , 352px 94px #FFF , 864px 1216px #FFF , 1036px 948px #FFF , 1706px 1829px #FFF , 143px 77px #FFF , 1031px 1600px #FFF , 1028px 80px #FFF , 1300px 1480px #FFF , 1697px 1952px #FFF , 1768px 1285px #FFF , 730px 693px #FFF , 1759px 919px #FFF , 917px 1127px #FFF , 1752px 581px #FFF , 1614px 1205px #FFF , 559px 1339px #FFF , 1622px 255px #FFF , 1700px 133px #FFF , 663px 625px #FFF , 1854px 1606px #FFF , 254px 581px #FFF , 1597px 551px #FFF , 1092px 123px #FFF , 788px 463px #FFF , 1308px 531px #FFF , 670px 569px #FFF , 487px 1212px #FFF , 1181px 1323px #FFF , 1499px 1757px #FFF , 1632px 543px #FFF , 441px 1728px #FFF , 838px 1005px #FFF , 746px 252px #FFF , 1000px 329px #FFF , 613px 1185px #FFF , 1457px 61px #FFF , 1849px 1012px #FFF , 1210px 674px #FFF , 1138px 400px #FFF , 1151px 1273px #FFF , 537px 905px #FFF , 317px 710px #FFF , 408px 1697px #FFF , 1056px 1349px #FFF , 794px 987px #FFF , 400px 838px #FFF , 1667px 492px #FFF , 942px 1739px #FFF , 1085px 1870px #FFF , 1899px 721px #FFF , 681px 1373px #FFF , 798px 392px #FFF , 486px 1259px #FFF , 460px 687px #FFF , 959px 1491px #FFF , 1821px 367px #FFF , 730px 1532px #FFF , 1202px 484px #FFF , 212px 1375px #FFF , 111px 20px #FFF , 917px 1009px #FFF , 990px 813px #FFF , 470px 426px #FFF , 1011px 753px #FFF , 59px 461px #FFF , 360px 1416px #FFF , 698px 1073px #FFF , 1206px 55px #FFF , 107px 1179px #FFF , 1062px 1462px #FFF , 950px 1605px #FFF , 1348px 1347px #FFF , 1065px 287px #FFF , 1425px 1861px #FFF , 1118px 480px #FFF , 180px 1031px #FFF , 1101px 1822px #FFF , 1514px 1370px #FFF , 610px 1293px #FFF , 397px 1510px #FFF , 1975px 1389px #FFF , 899px 1150px #FFF , 1292px 496px #FFF , 1798px 1882px #FFF , 1904px 1476px #FFF , 802px 1795px #FFF , 1634px 1684px #FFF , 743px 196px #FFF , 1161px 963px #FFF , 481px 821px #FFF , 1559px 1292px #FFF , 871px 1822px #FFF , 782px 560px #FFF , 1576px 767px #FFF , 30px 1394px #FFF , 1817px 863px #FFF , 1783px 814px #FFF , 20px 1976px #FFF , 988px 1586px #FFF , 1670px 212px #FFF , 1332px 1203px #FFF , 311px 614px #FFF , 1562px 1617px #FFF , 826px 1293px #FFF , 283px 154px #FFF , 1142px 1095px #FFF , 1188px 67px #FFF , 8px 625px #FFF , 1917px 1534px #FFF , 1800px 677px #FFF , 620px 1687px #FFF , 424px 192px #FFF , 1205px 61px #FFF , 704px 736px #FFF , 1966px 1835px #FFF , 1539px 216px #FFF , 1372px 750px #FFF , 1947px 540px #FFF , 1839px 452px #FFF , 1762px 695px #FFF , 124px 588px #FFF , 865px 1727px #FFF , 800px 1704px #FFF , 18px 1066px #FFF , 1441px 1500px #FFF , 10px 236px #FFF , 1899px 594px #FFF , 1607px 912px #FFF , 25px 750px #FFF , 628px 1612px #FFF , 1902px 663px #FFF , 1863px 1708px #FFF , 1608px 1013px #FFF , 1033px 1418px #FFF , 1159px 1968px #FFF , 1462px 338px #FFF , 896px 123px #FFF , 1002px 1102px #FFF , 1140px 180px #FFF , 1039px 970px #FFF , 1032px 1561px #FFF , 1783px 1206px #FFF , 1993px 800px #FFF , 909px 1938px #FFF , 852px 388px #FFF , 704px 1369px #FFF , 479px 1639px #FFF , 172px 638px #FFF , 590px 804px #FFF , 771px 1775px #FFF , 794px 1040px #FFF , 1972px 1781px #FFF , 1313px 1733px #FFF , 499px 1018px #FFF , 1437px 940px #FFF , 939px 1735px #FFF , 895px 1967px #FFF , 229px 204px #FFF , 175px 401px #FFF , 1094px 1186px #FFF , 1813px 1864px #FFF , 980px 1516px #FFF , 1311px 469px #FFF , 1883px 1344px #FFF , 449px 1582px #FFF , 1389px 1060px #FFF , 1135px 1453px #FFF , 1060px 1205px #FFF , 1010px 205px #FFF , 973px 1888px #FFF , 1429px 969px #FFF , 89px 1710px #FFF , 1033px 1712px #FFF , 1954px 818px #FFF , 1497px 473px #FFF , 161px 371px #FFF , 349px 1793px #FFF , 491px 1316px #FFF , 47px 1290px #FFF , 1419px 1999px #FFF , 1248px 1790px #FFF , 1269px 1237px #FFF , 1398px 1005px #FFF , 925px 926px #FFF , 1143px 1962px #FFF , 1054px 361px #FFF , 1752px 274px #FFF , 1825px 1855px #FFF , 573px 191px #FFF , 278px 657px #FFF , 135px 516px #FFF , 633px 1269px #FFF , 794px 384px #FFF , 404px 977px #FFF , 1715px 754px #FFF , 266px 660px #FFF , 930px 1328px #FFF , 711px 1828px #FFF , 97px 1218px #FFF , 133px 127px #FFF , 726px 1931px #FFF , 426px 447px #FFF , 1284px 1312px #FFF , 871px 618px #FFF , 55px 1785px #FFF , 1500px 1256px #FFF , 648px 258px #FFF , 1079px 156px #FFF , 1523px 857px #FFF , 468px 1339px #FFF , 1387px 1034px #FFF , 470px 431px #FFF , 1390px 1700px #FFF , 1699px 748px #FFF , 1102px 74px #FFF , 247px 950px #FFF , 249px 1010px #FFF , 832px 135px #FFF , 139px 1120px #FFF , 789px 300px #FFF , 304px 1905px #FFF , 1509px 1808px #FFF , 657px 1940px #FFF , 1864px 322px #FFF , 1948px 531px #FFF , 624px 1164px #FFF , 1565px 1673px #FFF , 742px 1655px #FFF , 933px 674px #FFF , 991px 1596px #FFF , 1886px 654px #FFF , 1657px 1656px #FFF , 458px 928px #FFF , 1196px 1253px #FFF , 1697px 197px #FFF , 571px 1512px #FFF , 1891px 1658px #FFF , 105px 1808px #FFF , 1951px 27px #FFF , 1234px 1326px #FFF , 1141px 242px #FFF , 102px 886px #FFF , 1227px 770px #FFF , 1580px 392px #FFF , 1345px 709px #FFF , 1325px 555px #FFF , 562px 898px #FFF , 1270px 479px #FFF , 1839px 884px #FFF , 1908px 14px #FFF , 1357px 595px #FFF , 212px 297px #FFF , 647px 506px #FFF , 1160px 1901px #FFF , 1027px 1171px #FFF , 1429px 1578px #FFF , 9px 618px #FFF , 121px 1954px #FFF , 1692px 164px #FFF , 1083px 1457px #FFF , 1035px 742px #FFF , 1163px 1566px #FFF , 1144px 1385px #FFF , 1211px 911px #FFF , 1653px 813px #FFF , 1090px 1570px #FFF , 290px 1271px #FFF , 746px 1329px #FFF , 453px 1447px #FFF , 1497px 1874px #FFF , 1493px 1116px #FFF , 845px 1742px #FFF , 1165px 1999px #FFF , 576px 563px #FFF , 51px 404px #FFF , 993px 770px #FFF , 1997px 674px #FFF , 1355px 1487px #FFF , 1642px 146px #FFF , 1160px 1718px #FFF , 947px 235px #FFF , 874px 1198px #FFF , 1280px 1465px #FFF , 373px 654px #FFF , 1734px 608px #FFF , 1699px 40px #FFF , 122px 1568px #FFF , 181px 1966px #FFF , 9px 194px #FFF , 59px 707px #FFF , 871px 726px #FFF , 220px 11px #FFF , 1626px 1002px #FFF , 877px 1749px #FFF , 330px 300px #FFF , 1515px 308px #FFF , 876px 1509px #FFF , 1016px 960px #FFF , 113px 267px #FFF , 747px 1859px #FFF , 234px 906px #FFF , 1687px 1601px #FFF , 773px 844px #FFF , 1812px 1479px #FFF , 688px 1103px #FFF , 1305px 71px #FFF , 1276px 493px #FFF , 843px 1434px #FFF , 6px 1435px #FFF , 1848px 508px #FFF , 1101px 240px #FFF , 1974px 1952px #FFF , 1072px 406px #FFF , 697px 1196px #FFF , 988px 256px #FFF , 501px 582px #FFF , 460px 1825px #FFF , 1912px 1029px #FFF , 1829px 1728px #FFF , 405px 190px #FFF , 1930px 1454px #FFF , 1524px 1997px #FFF , 721px 1573px #FFF , 1715px 1977px #FFF , 1003px 452px #FFF , 1200px 1844px #FFF , 1532px 986px #FFF , 1631px 1912px #FFF , 1521px 1236px #FFF , 1862px 1939px #FFF , 490px 259px #FFF , 991px 929px #FFF , 1770px 96px #FFF , 599px 1502px #FFF , 1269px 1762px #FFF , 1745px 1873px #FFF , 1462px 1727px #FFF , 1271px 532px #FFF , 1544px 1172px #FFF , 142px 1744px #FFF , 521px 941px #FFF , 596px 879px #FFF , 985px 427px #FFF , 1691px 1653px #FFF;
  }
  
  #stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1840px 921px #FFF , 782px 1464px #FFF , 915px 948px #FFF , 205px 1621px #FFF , 494px 1474px #FFF , 884px 432px #FFF , 754px 1413px #FFF , 1295px 1139px #FFF , 731px 1000px #FFF , 110px 165px #FFF , 1909px 1819px #FFF , 664px 1644px #FFF , 934px 1356px #FFF , 1285px 1092px #FFF , 1644px 1772px #FFF , 1720px 2px #FFF , 959px 1515px #FFF , 1559px 1293px #FFF , 1983px 1591px #FFF , 1739px 1373px #FFF , 1397px 1801px #FFF , 167px 506px #FFF , 1580px 860px #FFF , 1963px 1478px #FFF , 403px 860px #FFF , 1126px 451px #FFF , 886px 237px #FFF , 1233px 729px #FFF , 1724px 843px #FFF , 1695px 1257px #FFF , 1353px 322px #FFF , 715px 484px #FFF , 589px 952px #FFF , 1099px 1406px #FFF , 1766px 914px #FFF , 393px 106px #FFF , 509px 1044px #FFF , 1550px 1583px #FFF , 559px 185px #FFF , 1976px 274px #FFF , 148px 1832px #FFF , 1157px 403px #FFF , 45px 1276px #FFF , 340px 1037px #FFF , 1349px 854px #FFF , 1183px 44px #FFF , 1238px 34px #FFF , 1397px 1014px #FFF , 427px 847px #FFF , 1300px 705px #FFF , 1320px 605px #FFF , 295px 39px #FFF , 732px 1926px #FFF , 767px 1117px #FFF , 1047px 1642px #FFF , 860px 658px #FFF , 174px 1905px #FFF , 1287px 1413px #FFF , 894px 1692px #FFF , 105px 1072px #FFF , 610px 938px #FFF , 156px 509px #FFF , 1160px 1231px #FFF , 1561px 1342px #FFF , 1217px 1246px #FFF , 1878px 114px #FFF , 1992px 1771px #FFF , 227px 499px #FFF , 648px 502px #FFF , 1691px 1690px #FFF , 1299px 935px #FFF , 1143px 1155px #FFF , 1499px 972px #FFF , 531px 1008px #FFF , 611px 741px #FFF , 1358px 986px #FFF , 933px 1494px #FFF , 1135px 744px #FFF , 1546px 1936px #FFF , 974px 290px #FFF , 1319px 1210px #FFF , 791px 735px #FFF , 198px 73px #FFF , 330px 1378px #FFF , 81px 637px #FFF , 347px 758px #FFF , 1059px 1818px #FFF , 1731px 1363px #FFF , 1305px 45px #FFF , 1693px 226px #FFF , 141px 1576px #FFF , 1119px 1694px #FFF , 1872px 384px #FFF , 364px 1057px #FFF , 1267px 485px #FFF , 1587px 1641px #FFF , 1817px 1487px #FFF , 871px 613px #FFF , 801px 1945px #FFF , 1306px 1551px #FFF , 1413px 72px #FFF , 414px 1792px #FFF , 211px 260px #FFF , 1481px 1903px #FFF , 117px 18px #FFF , 499px 543px #FFF , 1952px 638px #FFF , 828px 202px #FFF , 1923px 796px #FFF , 308px 1151px #FFF , 1430px 611px #FFF , 135px 1591px #FFF , 268px 1131px #FFF , 1729px 1736px #FFF , 353px 82px #FFF , 307px 576px #FFF , 943px 1105px #FFF , 1388px 1408px #FFF , 51px 77px #FFF , 206px 1469px #FFF , 1575px 307px #FFF , 1166px 1445px #FFF , 819px 1288px #FFF , 908px 850px #FFF , 1840px 1467px #FFF , 176px 366px #FFF , 448px 1817px #FFF , 1729px 279px #FFF , 189px 1446px #FFF , 1407px 1899px #FFF , 950px 789px #FFF , 1618px 1294px #FFF , 227px 353px #FFF , 1481px 1774px #FFF , 955px 649px #FFF , 1792px 1445px #FFF , 1667px 794px #FFF , 1468px 1834px #FFF , 1407px 1645px #FFF , 762px 1683px #FFF , 785px 1314px #FFF , 1231px 468px #FFF , 1125px 1751px #FFF , 1503px 1046px #FFF , 390px 1813px #FFF , 1509px 1619px #FFF , 657px 76px #FFF , 1731px 1530px #FFF , 1542px 1692px #FFF , 1109px 217px #FFF , 1548px 900px #FFF , 1716px 531px #FFF , 1533px 839px #FFF , 1196px 42px #FFF , 1553px 738px #FFF , 936px 526px #FFF , 766px 356px #FFF , 873px 1371px #FFF , 439px 341px #FFF , 1061px 607px #FFF , 1635px 548px #FFF , 1138px 1993px #FFF , 1388px 1231px #FFF , 186px 785px #FFF , 1063px 360px #FFF , 1068px 501px #FFF , 1561px 903px #FFF , 1403px 517px #FFF , 1775px 1636px #FFF , 388px 67px #FFF , 1568px 1149px #FFF , 116px 837px #FFF , 1426px 27px #FFF , 436px 537px #FFF , 872px 1121px #FFF , 73px 937px #FFF , 690px 302px #FFF , 981px 188px #FFF , 1638px 1256px #FFF , 168px 1940px #FFF , 1702px 55px #FFF , 1911px 1877px #FFF , 1349px 1203px #FFF , 1648px 1902px #FFF , 611px 1033px #FFF , 1206px 1212px #FFF , 583px 1070px #FFF , 629px 501px #FFF , 1150px 579px #FFF , 629px 1929px #FFF , 941px 225px #FFF , 72px 446px #FFF , 1964px 69px #FFF , 1498px 863px #FFF , 1912px 331px #FFF , 594px 1870px #FFF , 1538px 1284px #FFF , 1744px 1288px #FFF , 1850px 1172px #FFF , 1688px 327px #FFF;
    animation: animStar 100s linear infinite;
  }
  #stars2:after {
    content: " ";
    position: absolute;
    top: 3000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1840px 921px #FFF , 782px 1464px #FFF , 915px 948px #FFF , 205px 1621px #FFF , 494px 1474px #FFF , 884px 432px #FFF , 754px 1413px #FFF , 1295px 1139px #FFF , 731px 1000px #FFF , 110px 165px #FFF , 1909px 1819px #FFF , 664px 1644px #FFF , 934px 1356px #FFF , 1285px 1092px #FFF , 1644px 1772px #FFF , 1720px 2px #FFF , 959px 1515px #FFF , 1559px 1293px #FFF , 1983px 1591px #FFF , 1739px 1373px #FFF , 1397px 1801px #FFF , 167px 506px #FFF , 1580px 860px #FFF , 1963px 1478px #FFF , 403px 860px #FFF , 1126px 451px #FFF , 886px 237px #FFF , 1233px 729px #FFF , 1724px 843px #FFF , 1695px 1257px #FFF , 1353px 322px #FFF , 715px 484px #FFF , 589px 952px #FFF , 1099px 1406px #FFF , 1766px 914px #FFF , 393px 106px #FFF , 509px 1044px #FFF , 1550px 1583px #FFF , 559px 185px #FFF , 1976px 274px #FFF , 148px 1832px #FFF , 1157px 403px #FFF , 45px 1276px #FFF , 340px 1037px #FFF , 1349px 854px #FFF , 1183px 44px #FFF , 1238px 34px #FFF , 1397px 1014px #FFF , 427px 847px #FFF , 1300px 705px #FFF , 1320px 605px #FFF , 295px 39px #FFF , 732px 1926px #FFF , 767px 1117px #FFF , 1047px 1642px #FFF , 860px 658px #FFF , 174px 1905px #FFF , 1287px 1413px #FFF , 894px 1692px #FFF , 105px 1072px #FFF , 610px 938px #FFF , 156px 509px #FFF , 1160px 1231px #FFF , 1561px 1342px #FFF , 1217px 1246px #FFF , 1878px 114px #FFF , 1992px 1771px #FFF , 227px 499px #FFF , 648px 502px #FFF , 1691px 1690px #FFF , 1299px 935px #FFF , 1143px 1155px #FFF , 1499px 972px #FFF , 531px 1008px #FFF , 611px 741px #FFF , 1358px 986px #FFF , 933px 1494px #FFF , 1135px 744px #FFF , 1546px 1936px #FFF , 974px 290px #FFF , 1319px 1210px #FFF , 791px 735px #FFF , 198px 73px #FFF , 330px 1378px #FFF , 81px 637px #FFF , 347px 758px #FFF , 1059px 1818px #FFF , 1731px 1363px #FFF , 1305px 45px #FFF , 1693px 226px #FFF , 141px 1576px #FFF , 1119px 1694px #FFF , 1872px 384px #FFF , 364px 1057px #FFF , 1267px 485px #FFF , 1587px 1641px #FFF , 1817px 1487px #FFF , 871px 613px #FFF , 801px 1945px #FFF , 1306px 1551px #FFF , 1413px 72px #FFF , 414px 1792px #FFF , 211px 260px #FFF , 1481px 1903px #FFF , 117px 18px #FFF , 499px 543px #FFF , 1952px 638px #FFF , 828px 202px #FFF , 1923px 796px #FFF , 308px 1151px #FFF , 1430px 611px #FFF , 135px 1591px #FFF , 268px 1131px #FFF , 1729px 1736px #FFF , 353px 82px #FFF , 307px 576px #FFF , 943px 1105px #FFF , 1388px 1408px #FFF , 51px 77px #FFF , 206px 1469px #FFF , 1575px 307px #FFF , 1166px 1445px #FFF , 819px 1288px #FFF , 908px 850px #FFF , 1840px 1467px #FFF , 176px 366px #FFF , 448px 1817px #FFF , 1729px 279px #FFF , 189px 1446px #FFF , 1407px 1899px #FFF , 950px 789px #FFF , 1618px 1294px #FFF , 227px 353px #FFF , 1481px 1774px #FFF , 955px 649px #FFF , 1792px 1445px #FFF , 1667px 794px #FFF , 1468px 1834px #FFF , 1407px 1645px #FFF , 762px 1683px #FFF , 785px 1314px #FFF , 1231px 468px #FFF , 1125px 1751px #FFF , 1503px 1046px #FFF , 390px 1813px #FFF , 1509px 1619px #FFF , 657px 76px #FFF , 1731px 1530px #FFF , 1542px 1692px #FFF , 1109px 217px #FFF , 1548px 900px #FFF , 1716px 531px #FFF , 1533px 839px #FFF , 1196px 42px #FFF , 1553px 738px #FFF , 936px 526px #FFF , 766px 356px #FFF , 873px 1371px #FFF , 439px 341px #FFF , 1061px 607px #FFF , 1635px 548px #FFF , 1138px 1993px #FFF , 1388px 1231px #FFF , 186px 785px #FFF , 1063px 360px #FFF , 1068px 501px #FFF , 1561px 903px #FFF , 1403px 517px #FFF , 1775px 1636px #FFF , 388px 67px #FFF , 1568px 1149px #FFF , 116px 837px #FFF , 1426px 27px #FFF , 436px 537px #FFF , 872px 1121px #FFF , 73px 937px #FFF , 690px 302px #FFF , 981px 188px #FFF , 1638px 1256px #FFF , 168px 1940px #FFF , 1702px 55px #FFF , 1911px 1877px #FFF , 1349px 1203px #FFF , 1648px 1902px #FFF , 611px 1033px #FFF , 1206px 1212px #FFF , 583px 1070px #FFF , 629px 501px #FFF , 1150px 579px #FFF , 629px 1929px #FFF , 941px 225px #FFF , 72px 446px #FFF , 1964px 69px #FFF , 1498px 863px #FFF , 1912px 331px #FFF , 594px 1870px #FFF , 1538px 1284px #FFF , 1744px 1288px #FFF , 1850px 1172px #FFF , 1688px 327px #FFF;
  }
  
  #stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1360px 1075px #FFF , 1012px 365px #FFF , 1613px 679px #FFF , 1254px 492px #FFF , 1569px 612px #FFF , 1344px 1408px #FFF , 292px 1890px #FFF , 883px 1678px #FFF , 1589px 1585px #FFF , 282px 822px #FFF , 765px 453px #FFF , 1475px 1887px #FFF , 1779px 824px #FFF , 833px 425px #FFF , 1308px 1311px #FFF , 1167px 816px #FFF , 813px 68px #FFF , 42px 559px #FFF , 248px 487px #FFF , 547px 1033px #FFF , 1672px 1578px #FFF , 1824px 1714px #FFF , 1140px 63px #FFF , 884px 441px #FFF , 427px 843px #FFF , 184px 657px #FFF , 1796px 1296px #FFF , 37px 242px #FFF , 836px 1324px #FFF , 555px 1410px #FFF , 1759px 230px #FFF , 1680px 1130px #FFF , 319px 443px #FFF , 1636px 444px #FFF , 612px 1327px #FFF , 652px 1229px #FFF , 1623px 1181px #FFF , 862px 1749px #FFF , 1552px 1262px #FFF , 695px 472px #FFF , 1816px 1500px #FFF , 463px 632px #FFF , 314px 1335px #FFF , 571px 1029px #FFF , 366px 771px #FFF , 214px 1283px #FFF , 763px 81px #FFF , 294px 1445px #FFF , 238px 788px #FFF , 1203px 687px #FFF , 1278px 1892px #FFF , 1116px 1736px #FFF , 920px 790px #FFF , 1098px 374px #FFF , 628px 622px #FFF , 747px 1054px #FFF , 669px 1651px #FFF , 255px 1825px #FFF , 824px 733px #FFF , 714px 158px #FFF , 1535px 1718px #FFF , 1px 186px #FFF , 1811px 654px #FFF , 253px 167px #FFF , 1844px 24px #FFF , 81px 1236px #FFF , 1862px 225px #FFF , 234px 396px #FFF , 803px 719px #FFF , 1428px 1242px #FFF , 1763px 1169px #FFF , 793px 1104px #FFF , 473px 748px #FFF , 1253px 1104px #FFF , 1760px 703px #FFF , 715px 428px #FFF , 887px 564px #FFF , 800px 1531px #FFF , 76px 1330px #FFF , 816px 1968px #FFF , 940px 1413px #FFF , 936px 871px #FFF , 1415px 1257px #FFF , 1595px 1042px #FFF , 910px 248px #FFF , 519px 353px #FFF , 1414px 1334px #FFF , 1167px 242px #FFF , 535px 654px #FFF , 492px 1553px #FFF , 1340px 868px #FFF , 874px 110px #FFF , 1729px 109px #FFF , 36px 1466px #FFF , 137px 475px #FFF , 622px 1917px #FFF , 977px 525px #FFF , 1957px 1364px #FFF , 352px 1327px #FFF , 746px 1922px #FFF;
    animation: animStar 150s linear infinite;
  }
  #stars3:after {
    content: " ";
    position: absolute;
    top: 000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1360px 1075px #FFF , 1012px 365px #FFF , 1613px 679px #FFF , 1254px 492px #FFF , 1569px 612px #FFF , 1344px 1408px #FFF , 292px 1890px #FFF , 883px 1678px #FFF , 1589px 1585px #FFF , 282px 822px #FFF , 765px 453px #FFF , 1475px 1887px #FFF , 1779px 824px #FFF , 833px 425px #FFF , 1308px 1311px #FFF , 1167px 816px #FFF , 813px 68px #FFF , 42px 559px #FFF , 248px 487px #FFF , 547px 1033px #FFF , 1672px 1578px #FFF , 1824px 1714px #FFF , 1140px 63px #FFF , 884px 441px #FFF , 427px 843px #FFF , 184px 657px #FFF , 1796px 1296px #FFF , 37px 242px #FFF , 836px 1324px #FFF , 555px 1410px #FFF , 1759px 230px #FFF , 1680px 1130px #FFF , 319px 443px #FFF , 1636px 444px #FFF , 612px 1327px #FFF , 652px 1229px #FFF , 1623px 1181px #FFF , 862px 1749px #FFF , 1552px 1262px #FFF , 695px 472px #FFF , 1816px 1500px #FFF , 463px 632px #FFF , 314px 1335px #FFF , 571px 1029px #FFF , 366px 771px #FFF , 214px 1283px #FFF , 763px 81px #FFF , 294px 1445px #FFF , 238px 788px #FFF , 1203px 687px #FFF , 1278px 1892px #FFF , 1116px 1736px #FFF , 920px 790px #FFF , 1098px 374px #FFF , 628px 622px #FFF , 747px 1054px #FFF , 669px 1651px #FFF , 255px 1825px #FFF , 824px 733px #FFF , 714px 158px #FFF , 1535px 1718px #FFF , 1px 186px #FFF , 1811px 654px #FFF , 253px 167px #FFF , 1844px 24px #FFF , 81px 1236px #FFF , 1862px 225px #FFF , 234px 396px #FFF , 803px 719px #FFF , 1428px 1242px #FFF , 1763px 1169px #FFF , 793px 1104px #FFF , 473px 748px #FFF , 1253px 1104px #FFF , 1760px 703px #FFF , 715px 428px #FFF , 887px 564px #FFF , 800px 1531px #FFF , 76px 1330px #FFF , 816px 1968px #FFF , 940px 1413px #FFF , 936px 871px #FFF , 1415px 1257px #FFF , 1595px 1042px #FFF , 910px 248px #FFF , 519px 353px #FFF , 1414px 1334px #FFF , 1167px 242px #FFF , 535px 654px #FFF , 492px 1553px #FFF , 1340px 868px #FFF , 874px 110px #FFF , 1729px 109px #FFF , 36px 1466px #FFF , 137px 475px #FFF , 622px 1917px #FFF , 977px 525px #FFF , 1957px 1364px #FFF , 352px 1327px #FFF , 746px 1922px #FFF;
  }
  
  #title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #FFF;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
  }
  #title span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-2000px);
    }
  }


/* terms and condiations    */


